body {
    background-color: #ffffff; /* Azul claro suave */
}
.card {
    background-color: #faf9f9; /* Cinza muito claro */
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.search-placeholder {
    text-align: center;
    padding: 50px 0;
    color: #6c757d;
}
.search-placeholder i {
    font-size: 5rem;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}