.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    height: 70px;
    padding: 0.75rem 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    width: 100%; 
}

.navbar-brand {
    font-weight: 600;
    color: #333;
    padding: 0.5rem 0;
}

.navbar-nav .nav-link {
    color: #333;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-link i {
    margin-right: 5px;
}

.avatar-small {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.avatar-medium {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.dropdown-item {
    display: flex;
    padding: 10px;
    width: 100%;
}

.dropdown-menu {
    width: 340px;
}

.dropdown-divider {
    margin: 0;
}

.dropdown-show {
    width: 100%;
}

/* Adicionado para ajustar o conteúdo principal */
body {
    padding-top: 70px;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
    }
    
    body {
        padding-top: 56px;
    }
}
