.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-content {
    text-align: center;
}
.login-logo {
    max-width: 200px;
    margin-bottom: 2rem;
}
  