body {
    font-family: 'Roboto', sans-serif;
    padding-top: 56px; /* Altura do header */
}

.logo {
    width: 30%;


}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar {
    position: fixed;
    top: 56px; /* Alinha com o topo do corpo, abaixo do header */
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 20px 0 0; /* Adiciona um pouco de padding no topo */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    overflow-y: auto;
    width: 300px; /* Equivalente a col-md-2 */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 76px); /* 56px do header + 20px do padding */
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 10px 15px;
    display: block; /* Garante que o link ocupe toda a largura */
}

.sidebar .nav-link:hover {
    color: #007bff;
    background-color: #e9ecef;
    text-decoration: none; /* Remove o sublinhado ao passar o mouse */
}

.sidebar .nav-link.active {
    color: #007bff;
    background-color: #e9ecef;
}

.sidebar .nav-link i {
    margin-right: 10px;
    width: 20px; /* Largura fixa para os ícones */
    text-align: center;
}

main {
    margin-left: 16.66667%; /* Equivalente a col-md-2 */
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        width: 100%;
        height: auto;
        padding-top: 0;
    }
    main {
        margin-left: 0;
    }



}