body {
   
    background-color: #e1e3e6;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }



