<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login com Google</title>
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    <div class="container">
        <div class="image-column">
            <img src="sua-imagem-aqui.jpg" alt="Imagem de Login" style="max-width: 100%; border-radius: 8px;"> <!-- Substitua pelo caminho da sua imagem -->
        </div>
        <div class="login-column">
            <h1>{{.title}}</h1>
            <button class="login-button" onclick="loginWithGoogle()">Login com Google</button>
        </div>
    </div>

    <script>
        function loginWithGoogle() {
            // Redireciona para a rota de login do Google
            window.location.href = 'http://localhost:8080/api/v1/auth/google'; // Altere para a URL do seu servidor
        }
    </script>
</body>
</html>