<nav id="sidebar" class="sidebar">
    <div class="sidebar-sticky">
        <div class="logo-container" ><img src="/static/img/brasão completo.png" alt="Imagem de Login" class=" logo img-fluid rounded mb-4"></div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-home"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/catalogo-fornecedores">
                    <i class="fas fa-book"></i> Catálogo de Fornecedores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastrar-fornecedores">
                    <i class="fas fa-user-plus"></i> Cadastrar Fornecedores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/configuracoes">
                    <i class="fas fa-cog"></i> Configurações
                </a>
            </li>
        </ul>
    </div>
</nav>
