<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {{ if eq .ActivePage "dashboard" }}active{{ end }}" href="/api/v1/dashboard">
                    <i class="fas fa-tachometer-alt mr-2"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ if eq .ActivePage "catalogo" }}active{{ end }}" href="/api/v1/catalogo">
                    <i class="fas fa-book mr-2"></i>
                    Catálogo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ if eq .ActivePage "form_register" }}active{{ end }}" href="/api/v1/cadastro-fornecedor">
                    <i class="fas fa-plus mr-2"></i>
                    Novo Fornecedor
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ if eq .ActivePage "cadastro-categorias-servicos" }}active{{ end }}" href="/api/v1/cadastro-categorias-servicos">
                    <i class="fas fa-tags mr-2"></i>
                    Nova Categoria ou Serviço
                </a>
            </li>
        </ul>
    </div>
</nav>
